.basic {
    font-size: var(--heading2);
    font-weight: 700px;
    letter-spacing: 0.15em;
}

.box {
    font-weight: 700px;
    letter-spacing: 0.15em;
    display: inline-block;
    padding: 0.5em 1em;
    background-color: var(--gray-75);
    color: var(--white);
    font-size: var(--body);
}